destroy-fx-link.png  PNG DISCARDABLE  "..\\gui\\graphics\\destroy-fx-link.png"
implode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\implode-button.png"
polarizer-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\polarizer-background.png"
slider-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-background.png"
slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle.png"

bboron.ttf  DFX_TTF DISCARDABLE  "..\\..\\fonts\\bboron.ttf"
