
// Images embedded in the DLL. These are loaded by vstgui's CBitmap,
// using the name (first column) as the identifier.

fonttest-background.png                 PNG  DISCARDABLE     "..\\gui\\graphics\\fonttest-background.png"

dfxsnooty10px.ttf                       DFX_TTF  DISCARDABLE     "..\\..\\fonts\\dfxsnooty10px.ttf"
dfxwetar16px.ttf                        DFX_TTF  DISCARDABLE     "..\\..\\fonts\\dfxwetar16px.ttf"
dfxpasement9px.ttf                      DFX_TTF  DISCARDABLE     "..\\..\\fonts\\dfxpasement9px.ttf"

#include "../fonttestdef.h"
#include "../../dfx-library/visualstudio/dfxplugin-version.rc"
