
/* Global CSS for the Destroy FX site. */

body {
  font: 13px Verdana, Arial, Helvetica, "Sans Serif", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
  color: #99F;
}

/* Basic "vertical stripe" layout. Probably want to set
   background-color. */
.maincolumn {
  width: 600px;
  margin-left: 15%;
  margin-right: auto;
  padding: 0 12px 12px;
  /* at least as tall as the viewport */
  min-height: 100vh;
}
.maincolumn img.title {
  display: block;
  margin-left: auto;
}


/* Standard stacked infobox. Might need to override width for
   different maincolumn sizes. */
div.infobox {
  border: 3px solid black;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
}
img.infoheader {
  float: right;
}

/* header usually contains image; inline-block so that it can
   be right aligned. */
div.infobox h1 {
  display: inline-block;
  width: 100%;
  margin: 0;
}

div.infobox h1 img {
  float: right;
}

/* infobox has inner padding, so prevent excessive space after
   last paragraph */
div.infobox > p:last-child {
  margin-bottom: 0;
}

/* Two-column layout for e.g. plugin */
div.twocolumn {
  display: flex;
}
div.twocolumn > div:first-child {
  min-width: 110px;
  width: 110px;
}


/* begin maybe-stoopid CSS copied from old site */
p.rel {
  font-weight: bold;
  text-align: right;
}

a.plain {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
a.plain:hover {
  text-decoration: underline;
}

.hidden {}
/* end maybe-stoopid CSS copied from old site */


img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

