
// Images embedded in the DLL. These are loaded by vstgui's CBitmap,
// using the name (first column) as the identifier.

transverb-background.png        PNG  DISCARDABLE     "..\\gui\\graphics\\transverb-background.png"
purple-wide-fader-slide.png     PNG  DISCARDABLE     "..\\gui\\graphics\\purple-wide-fader-slide.png"
grey-wide-fader-slide.png       PNG  DISCARDABLE     "..\\gui\\graphics\\grey-wide-fader-slide.png"
tall-fader-slide.png            PNG  DISCARDABLE     "..\\gui\\graphics\\tall-fader-slide.png"
purple-wide-fader-handle.png    PNG  DISCARDABLE     "..\\gui\\graphics\\purple-wide-fader-handle.png"
wide-fader-handle-glowing.png   PNG  DISCARDABLE     "..\\gui\\graphics\\wide-fader-handle-glowing.png"
grey-wide-fader-handle.png      PNG  DISCARDABLE     "..\\gui\\graphics\\grey-wide-fader-handle.png"
wide-fader-handle-glowing.png   PNG  DISCARDABLE     "..\\gui\\graphics\\wide-fader-handle-glowing.png"
tall-fader-handle.png           PNG  DISCARDABLE     "..\\gui\\graphics\\tall-fader-handle.png"
tall-fader-handle-glowing.png   PNG  DISCARDABLE     "..\\gui\\graphics\\tall-fader-handle-glowing.png"
fine-down-button.png            PNG  DISCARDABLE     "..\\gui\\graphics\\fine-down-button.png"
fine-up-button.png              PNG  DISCARDABLE     "..\\gui\\graphics\\fine-up-button.png"
speed-mode-button.png           PNG  DISCARDABLE     "..\\gui\\graphics\\speed-mode-button.png"
quality-button.png              PNG  DISCARDABLE     "..\\gui\\graphics\\quality-button.png"
tomsound-button.png             PNG  DISCARDABLE     "..\\gui\\graphics\\tomsound-button.png"
randomize-button.png            PNG  DISCARDABLE     "..\\gui\\graphics\\randomize-button.png"
midi-learn-button.png           PNG  DISCARDABLE     "..\\gui\\graphics\\midi-learn-button.png"
midi-reset-button.png           PNG  DISCARDABLE     "..\\gui\\graphics\\midi-reset-button.png"
dfx-link.png                    PNG  DISCARDABLE     "..\\gui\\graphics\\dfx-link.png"
super-destroy-fx-link.png       PNG  DISCARDABLE     "..\\gui\\graphics\\super-destroy-fx-link.png"
smart-electronix-link.png       PNG  DISCARDABLE     "..\\gui\\graphics\\smart-electronix-link.png"

