BODY
{
	margin-top: 8px ;
	margin-left: 15% ;
	margin-right: 15% ;
}

B { font-weight: bold }

H1.title
{
	font-family: Charcoal, Verdana, "Trebuchet MS", Helvetica, sans-serif ;
	font-size: 300% ;
	font-weight: bold ;
	text-align: center ;
	color: black ;
}

P
{
	font-family: Verdana, Geneva, Arial, sans-serif ;
	text-indent: 0.0em ;
	color: black ;
}
P.intro { text-align: justify }
P.declaration { text-align: center }
P.label { font-weight: bold }
P.desc { text-align: justify }
P.footer { font-size: smaller ; text-align: center }

A { text-decoration: none ; font-weight: bold }
A:link { color: #750927 }
A:hover { color: #B00939 }
A:visited { color: #753027 }
A:active { color: #DD4444 }

TABLE.mainbox
{
	width: 100% ;
	background-color: white ;
	border-width: 4px ;
	border-color: black ;
	border-style: solid ;
	border-spacing: 0.7em ;
}
