destroy-fx-link.png  PNG DISCARDABLE  "..\\gui\\graphics\\destroy-fx-link.png"
fine-tune-down-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\fine-tune-down-button.png"
fine-tune-up-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\fine-tune-up-button.png"
geometer-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\geometer-background.png"
help-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-background.png"
help-general.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-general.png"
help-landmarks.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-landmarks.png"
help-ops.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-ops.png"
help-recreate.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-recreate.png"
help-window-shape.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-window-shape.png"
landmarks-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\landmarks-button.png"
midi-learn-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-learn-button.png"
midi-reset-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-reset-button.png"
ops-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\ops-button.png"
recreate-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\recreate-button.png"
slider-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-background.png"
slider-handle-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-glowing.png"
slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle.png"
window-shape-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\window-shape-button.png"
window-size-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\window-size-button.png"

px10.ttf  DFX_TTF DISCARDABLE  "..\\..\\fonts\\px10.ttf"

#include "../geometerdef.h"
#include "../../dfx-library/visualstudio/dfxplugin-version.rc"
