body
{
	font-family: Verdana, Arial, Helvetica, "Sans Serif", sans-serif ;
	font-weight: normal ;
	font-size: small ;
	color: #000000 ;
	margin: 0px ;
}

h1 { font-weight: bold }
h3.faqtitle { margin-top: 0.0em }

/*
8.5pt = 70% = 11px
10pt = 13px
16pt = 150% ? = 21px ?
*/
p { font-size: small ; margin-top: 0.69em ; margin-bottom: 0.69em }
p.center { text-align: center }
p.text { text-indent: 2em }
p.rel { font-weight: bold ; text-align: right }
p.minititle { font-weight: bold }
p.desc { text-indent: 2.5em ; text-align: justify }
p.intro { text-indent: 2.5em ; text-align: justify }
p.plea { text-indent: 2.5em ; text-align: justify }
p.museum { text-indent: 2.5em ; text-align: justify }
p.announce { text-indent: 0.0em ; color: red ; font-weight: bold }
p.tidbit { text-indent: 0.0em ; color: green ; font-weight: bold }
p.faqtoc { text-indent: 0.0em ; color: #BE4C07 ; text-align: justify }
p.plain { text-indent: 0.0em ; text-align: justify }
p.quicklinks { text-indent: 0.0em ; text-align: center }
p.center_image { text-align: center ; margin: 0px }

br.left { clear: left }
br.right { clear: right }


table
{
}
table.container { border: 0px ; border-spacing: 0px ; margin: 0px }
table.fullwidth { width: 100% }
table.filler { width: 100% ; border: 0px ; border-spacing: 0px ; margin: 0px }
table.infobox
{
	width: 100% ;
	background-color: white ;
	border: 4px solid black ;
	border-spacing: 4px ;
}

td { font-size: medium ; padding: 0px }
td.demoname { font-size: small }
td.icons { text-align: center ; vertical-align: middle }
td.iconcolumn { text-align: center ; width: 105px }

th { font-size: medium ; font-weight: bold }
th.demo { font-size: small ; font-weight: bold }
th.demolabel { font-size: small ; font-weight: bold ; width: 24px }

tr.columnname
{
	background-color: #DDDDFF ;
}
tr.one_row
{
	background-color: #EEFFFF ;
}
tr.other_row
{
	background-color: #E7EEE7 ;
}

ul { font-size: small }

form.small { font-size: small ; font-weight: normal }
input.singleline, textarea
{
	border-style: solid ;
	border-color: black ;
	border-width: 2px ;
}
input.singleline
{
	width: 98% ;
	height: 16px ;
}
textarea
{
	overflow: auto ;
}
span.emailaddress
{
	color: #218412 ;
}
em.emailerror
{
	font-size: 200% ;
	font-weight: bold ;
	font-style: italic ;
}

a.semiplain:link, a.semiplain:visited { color: inherit }
a { font-weight: bold }
a:link { color: #9999FF }
a:visited { color: #9999FF }
a:hover, a.semiplain:hover { color: #5555FF }
a:active, a.semiplain:active { color: #DD4444 }
a.plain { color: inherit ; text-decoration: inherit ; font-weight: inherit }
a.plain:hover { text-decoration: underline }

img { border: 0px ; margin: 0px }
img.left { float: left }
img.right { float: right }

div.blackline
{
	border: 2pt;
	border-style: solid;
	border-color: black;
	width: 100%;
}

div.inset
{
	border: 2pt;
	border-style: inset;
	border-color: black;
	width: 100%;
}


div.in
{
	padding-left: 0.5em;
	border-left: solid;
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left-width: 2pt;
	border-color: black;
}

td.thinblack, td.thinblack_icon
{
	text-align: left ;
	border-left: 1px solid black ; 
	border-top: 1px solid black ; 
	border-bottom: none ; 
	border-right: none ;
} 
td.thinblack_icon
{
	text-align: center ;
} 

th.thinblack, th.thinblack_columnname
{
	font-size: small ;
	font-weight: bold ;
	text-align: left ;
	border-left: 1px solid black ; 
	border-top: 1px solid black ; 
	border-bottom: none ; 
	border-right: none ;
} 
th.thinblack_columnname
{
	text-align: center ;
}

td.thinblack, th.thinblack
{
	padding: 0.2em ;
}

span.small { font-size: smaller }
