
/* Global CSS for the Destroy FX site. */

body {
  font: 13px Verdana, Arial, Helvetica, "Sans Serif", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
  color: #99F;
}

/* Basic "vertical stripe" layout. Probably want to set
   background-color. */
.maincolumn {
  width: 600px;
  margin-left: 15%;
  margin-right: auto;
  padding: 0 12px 12px;
  /* at least as tall as the viewport */
  min-height: 100vh;
}
.maincolumn img.title {
  display: block;
  margin-left: auto;
}


/* Standard stacked infobox. Might need to override width for
   different maincolumn sizes. */
div.infobox {
  border: 3px solid black;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
}
img.infoheader {
  float: right;
}

/* header usually contains image; inline-block so that it can
   be right aligned. */
div.infobox h1 {
  display: inline-block;
  width: 100%;
  margin: 0;
}

div.infobox h1 img {
  float: right;
}

/* infobox has inner padding, so prevent excessive space after
   last paragraph */
div.infobox > p:last-child {
  margin-bottom: 0;
}

div.plugin img.thumb {
  cursor: pointer;
  width: 100px;
  border: 0;
  margin-bottom: 4px;
}

/* plugin icons as a flex row that wraps to multiple lines. */
div.plugin div.downloads {
  width: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.downloads a {
  display: inline-block;
  width: 32px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
}

div.downloads a.mac {
  background-image: url(mac.svg);
}
div.downloads a.win {
  background-image: url(win32.png);
}
div.downloads a.oldmac {
  background-image: url(oldmac.png);
}
div.downloads a.source {
  background-image: url(source.png);
  width: 64px;
  min-height: 36px;
}
div.downloads a.docs {
  background-image: url(docs.png);
  width: 55px;
  height: 57px;
}

/* Two-column layout for e.g. plugin */
div.twocolumn {
  display: flex;
}
div.twocolumn > div:first-child {
  min-width: 110px;
  width: 110px;
}

a.release {
  color: #555;
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  margin-bottom: 3px;
}
a.release:hover {
  text-decoration: underline;
}


img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

