
destroy-fx-link.png   PNG DISCARDABLE   "..\\gui\\graphics\\destroy-fx-link.png"
host-tempo-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\host-tempo-button.png"
midi-learn-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\midi-learn-button.png"
midi-mode-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\midi-mode-button.png"
midi-reset-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\midi-reset-button.png"
range-slider-handle-left-glowing.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-left-glowing.png"
range-slider-handle-left.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-left.png"
range-slider-handle-right-glowing.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-right-glowing.png"
range-slider-handle-right.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-right.png"
skidder-background.png   PNG DISCARDABLE   "..\\gui\\graphics\\skidder-background.png"
slider-background.png   PNG DISCARDABLE   "..\\gui\\graphics\\slider-background.png"
slider-handle-glowing.png   PNG DISCARDABLE   "..\\gui\\graphics\\slider-handle-glowing.png"
slider-handle.png   PNG DISCARDABLE   "..\\gui\\graphics\\slider-handle.png"
tempo-sync-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\tempo-sync-button.png"
velocity-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\velocity-button.png"

