background.png   PNG DISCARDABLE   "..\\gui\\graphics\\background.png"
crossover-mode-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\crossover-mode-button.png"
destroy-fx-link.png   PNG DISCARDABLE   "..\\gui\\graphics\\destroy-fx-link.png"
host-tempo-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\host-tempo-button.png"
midi-learn-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\midi-learn-button.png"
midi-mode-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\midi-mode-button.png"
midi-reset-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\midi-reset-button.png"
range-slider-handle-left-learn.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-left-learn.png"
range-slider-handle-left.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-left.png"
range-slider-handle-right-learn.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-right-learn.png"
range-slider-handle-right.png   PNG DISCARDABLE   "..\\gui\\graphics\\range-slider-handle-right.png"
slider-background.png   PNG DISCARDABLE   "..\\gui\\graphics\\slider-background.png"
slider-handle-learn.png   PNG DISCARDABLE   "..\\gui\\graphics\\slider-handle-learn.png"
slider-handle.png   PNG DISCARDABLE   "..\\gui\\graphics\\slider-handle.png"
tempo-sync-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\tempo-sync-button.png"
velocity-button.png   PNG DISCARDABLE   "..\\gui\\graphics\\velocity-button.png"

px10.ttf   DFX_TTF DISCARDABLE   "..\\..\\fonts\\px10.ttf"
