
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

128                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00128.bmp"
129                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00129.bmp"
130                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00130.bmp"
131                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00131.bmp"
132                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00132.bmp"
133                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00133.bmp"
134                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00134.bmp"
135                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00135.bmp"
136                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00136.bmp"
137                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00137.bmp"
138                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00138.bmp"
139                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00139.bmp"
140                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00140.bmp"
141                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00141.bmp"
142                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00142.bmp"
143                     BITMAP  DISCARDABLE     "..\\skidder\\GUI\\graphics\\skidder00143.bmp"

