
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

128                     BITMAP       "..\\scrubby\\GUI\\graphics\\scrubby-background.bmp"
129                     BITMAP       "..\\scrubby\\GUI\\graphics\\fader-handle.bmp"
130                     BITMAP       "..\\scrubby\\GUI\\graphics\\glowing-fader-handle.bmp"
131                     BITMAP       "..\\scrubby\\GUI\\graphics\\left-fader-handle.bmp"
132                     BITMAP       "..\\scrubby\\GUI\\graphics\\glowing-left-fader-handle.bmp"
133                     BITMAP       "..\\scrubby\\GUI\\graphics\\right-fader-handle.bmp"
134                     BITMAP       "..\\scrubby\\GUI\\graphics\\glowing-right-fader-handle.bmp"
135                     BITMAP       "..\\scrubby\\GUI\\graphics\\speed-mode-button.bmp"
136                     BITMAP       "..\\scrubby\\GUI\\graphics\\freeze-button.bmp"
137                     BITMAP       "..\\scrubby\\GUI\\graphics\\tempo-sync-button.bmp"
138                     BITMAP       "..\\scrubby\\GUI\\graphics\\stereo-button.bmp"
139                     BITMAP       "..\\scrubby\\GUI\\graphics\\pitch-constraint-button.bmp"
140                     BITMAP       "..\\scrubby\\GUI\\graphics\\little-tempo-sync-button.bmp"
141                     BITMAP       "..\\scrubby\\GUI\\graphics\\keyboard-off.bmp"
142                     BITMAP       "..\\scrubby\\GUI\\graphics\\keyboard-on.bmp"
143                     BITMAP       "..\\scrubby\\GUI\\graphics\\transpose-down-button.bmp"
144                     BITMAP       "..\\scrubby\\GUI\\graphics\\transpose-up-button.bmp"
145                     BITMAP       "..\\scrubby\\GUI\\graphics\\major-chord-button.bmp"
146                     BITMAP       "..\\scrubby\\GUI\\graphics\\minor-chord-button.bmp"
147                     BITMAP       "..\\scrubby\\GUI\\graphics\\all-notes-button.bmp"
148                     BITMAP       "..\\scrubby\\GUI\\graphics\\none-notes-button.bmp"
149                     BITMAP       "..\\scrubby\\GUI\\graphics\\midi-learn-button.bmp"
150                     BITMAP       "..\\scrubby\\GUI\\graphics\\midi-reset-button.bmp"
151                     BITMAP       "..\\scrubby\\GUI\\graphics\\help.bmp"
152                     BITMAP       "..\\scrubby\\GUI\\graphics\\destroy-fx-link.bmp"
153                     BITMAP       "..\\scrubby\\GUI\\graphics\\smart-electronix-link.bmp"

