buffer-interrupt-button-corner.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-interrupt-button-corner.png"
buffer-interrupt-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-interrupt-button.png"
buffer-lfo-rate-label.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-lfo-rate-label.png"
buffer-lfo-shape-switch.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-lfo-shape-switch.png"
buffer-lfo-tempo-sync-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-lfo-tempo-sync-button.png"
buffer-override-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-override-background.png"
buffer-size-label.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-size-label.png"
buffer-tempo-sync-button-corner.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-tempo-sync-button-corner.png"
buffer-tempo-sync-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-tempo-sync-button.png"
divisor-lfo-rate-label.png  PNG DISCARDABLE  "..\\gui\\graphics\\divisor-lfo-rate-label.png"
divisor-lfo-shape-switch.png  PNG DISCARDABLE  "..\\gui\\graphics\\divisor-lfo-shape-switch.png"
divisor-lfo-tempo-sync-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\divisor-lfo-tempo-sync-button.png"
go-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\go-button.png"
host-tempo-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\host-tempo-button.png"
midi-learn-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-learn-button.png"
midi-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-mode-button.png"
midi-reset-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-reset-button.png"
slider-handle-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-glowing.png"
slider-handle-pitchbend-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-pitchbend-glowing.png"
slider-handle-pitchbend.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-pitchbend.png"
slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle.png"
xy-box-handle-buffer-glow.png  PNG DISCARDABLE  "..\\gui\\graphics\\xy-box-handle-buffer-glow.png"
xy-box-handle-divisor-glow.png  PNG DISCARDABLE  "..\\gui\\graphics\\xy-box-handle-divisor-glow.png"
xy-box-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\xy-box-handle.png"

#include "../bufferoverridedef.h"
#include "../../dfx-library/visualstudio/dfxplugin-version.rc"
