buffer-interrupt-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-interrupt-button.png"
buffer-override-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-override-background.png"
buffer-size-label.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-size-label.png"
buffer-tempo-sync-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\buffer-tempo-sync-button.png"
destroy-fx-link.png  PNG DISCARDABLE  "..\\gui\\graphics\\destroy-fx-link.png"
host-tempo-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\host-tempo-button.png"
lfo-shape-switch.png  PNG DISCARDABLE  "..\\gui\\graphics\\lfo-shape-switch.png"
lfo-tempo-sync-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\lfo-tempo-sync-button.png"
midi-learn-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-learn-button.png"
midi-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-mode-button.png"
midi-reset-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-reset-button.png"
slider-handle-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-glowing.png"
slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle.png"
xy-box-handle-buffer-glow.png  PNG DISCARDABLE  "..\\gui\\graphics\\xy-box-handle-buffer-glow.png"
xy-box-handle-divisor-glow.png  PNG DISCARDABLE  "..\\gui\\graphics\\xy-box-handle-divisor-glow.png"
xy-box-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\xy-box-handle.png"

dfxpasement9px.ttf  DFX_TTF DISCARDABLE  "..\\..\\fonts\\dfxpasement9px.ttf"
dfxwetar16px.ttf  DFX_TTF DISCARDABLE  "..\\..\\fonts\\dfxwetar16px.ttf"

#include "../bufferoverridedef.h"
#include "../../dfx-library/visualstudio/dfxplugin-version.rc"
