body
{
	margin-top: 8px ;
	margin-left: 15% ;
	margin-right: 15% ;
}

b { font-weight: bold }

h1.title
{
	font-family: Charcoal, Verdana, "Trebuchet MS", Helvetica, sans-serif ;
	font-size: 300% ;
	font-weight: bold ;
	text-align: center ;
	color: black ;
}

p
{
	font-family: Verdana, Geneva, Arial, sans-serif ;
	text-indent: 0.0em ;
	color: black ;
}
p.intro { text-align: justify }
p.declaration { text-align: center }
p.label { font-weight: bold }
p.desc { text-align: justify }
p.footer { font-size: smaller ; text-align: center }

a { text-decoration: none ; font-weight: bold }
a:link { color: #750927 }
a:hover { color: #B00939 }
a:visited { color: #753027 }
a:active { color: #DD4444 }

table.mainbox
{
	width: 100% ;
	background-color: white ;
	border-width: 4px ;
	border-color: black ;
	border-style: solid ;
	border-spacing: 0.7em ;
}
