#include "dfxplugin"

WRAPPER_EXTENSION = component
INSTALL_PATH = $(USER_LIBRARY_DIR)/Audio/Plug-Ins/Components
USER_HEADER_SEARCH_PATHS = $(inherited) $(DFX_ROOT_SOURCE_PATH)/AudioUnitSDK/Source $(DFX_ROOT_SOURCE_PATH)/vstgui/vstgui/**

DFX_PLUGIN_FORMAT_MACROS = TARGET_API_AUDIOUNIT

EXPORTED_SYMBOLS_FILE = $(DFX_PLUGIN_SHORT_NAME).exp
DFX_PLUGIN_BUNDLE_IDENTIFIER = org.destroyfx.$(DFX_PLUGIN_FULL_NAME_WITHOUT_BREAKS).AU
DFX_PLUGIN_AUDIOUNIT_FACTORY_FUNCTION = $(DFX_PLUGIN_FULL_NAME_WITHOUT_BREAKS)Factory
