#include "dfxplugin"

WRAPPER_EXTENSION = component
INSTALL_PATH = $(USER_LIBRARY_DIR)/Audio/Plug-Ins/Components
REZ_SEARCH_PATHS = /Developer/Extras/CoreAudio/AudioUnits/AUPublic/AUBase /System/Library/Frameworks/CoreServices.framework/Frameworks/CarbonCore.framework/Headers $(DFX_ROOT_SOURCE_PATH)/dfx-library $(DFX_PLUGIN_SOURCE_PATH)
REZ_PREFIX_FILE = $(GCC_PREFIX_HEADER)
REZ_PREPROCESSOR_DEFINITIONS = ppc_$ppc i386_$i386 x86_64_$x86_64 ppc64_$ppc64 TARGET_API_AUDIOUNIT

DFX_PLUGIN_FORMAT_MACROS = TARGET_API_AUDIOUNIT

EXPORTED_SYMBOLS_FILE = $(DFX_PLUGIN_SHORT_NAME).exp
DFX_PLUGIN_BUNDLE_IDENTIFIER = org.destroyfx.$(DFX_PLUGIN_FULL_NAME_WITHOUT_BREAKS).AU
DFX_PLUGIN_AUDIOUNIT_FACTORY_FUNCTION = $(DFX_PLUGIN_FULL_NAME_WITHOUT_BREAKS)Factory
