DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_OPTIMIZATION_LEVEL = 3
GCC_WARN_UNINITIALIZED_AUTOS = YES
LLVM_LTO = YES
CLANG_CXX_STANDARD_LIBRARY_HARDENING = fast
CODE_SIGN_IDENTITY = Developer ID Application
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = N8VK88P4LV

DFX_BUILD_CONFIGURATION_MACROS = NDEBUG=1
DFX_GUI_COMPILER_FLAGS = -Os
