destroy-fx-link-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\destroy-fx-link-button.png"
gate-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\gate-mode-button.png"
midi-gater-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-gater-background.png"
midi-learn-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-learn-button.png"
midi-reset-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-reset-button.png"
slider-handle-floor.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-floor.png"
slider-handle-floor-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-floor-glowing.png"
slider-handle-slope.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-slope.png"
slider-handle-slope-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-slope-glowing.png"
slider-handle-velocity-influence.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-velocity-influence.png"
slider-handle-velocity-influence-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-velocity-influence-glowing.png"
