	B { font-weight: bold }

	H1 { text-indent: 0em }
	H1.title
	{
		font: 39px Charcoal, Verdana, "Trebuchet MS", Helvetica, sans-serif ;
		font-weight: bold ;
		text-align: center ;
		color: #000000 ;
	}

	P { font: 13px Geneva, Arial, Verdana, sans-serif ; text-indent: 0em }
	P.intro { text-indent: 0em ; text-align: justify ; color: #000000 }
	P.declaration { text-align: center ; text-indent: 0em }
	P.label { font-weight: bold }
	P.desc { text-align: justify ; text-indent: 0em }
	P.footer { font-size: 12px ; text-align: center }

	A { text-decoration: none }
	A:link { color: #750927 ; font-weight: bold }
	A:hover { color: #b00939 ; font-weight: bold }
	A:visited { color: #753027 ; font-weight: bold }
	A:active { color: #DD4444 ; font-weight: bold }
