bandwidth-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\bandwidth-mode-button.png"
destroy-fx-link.png  PNG DISCARDABLE  "..\\gui\\graphics\\destroy-fx-link.png"
dry-wet-mix-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\dry-wet-mix-mode-button.png"
fades-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\fades-button.png"
foldover-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\foldover-button.png"
horizontal-slider-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\horizontal-slider-background.png"
horizontal-slider-handle-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\horizontal-slider-handle-glowing.png"
horizontal-slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\horizontal-slider-handle.png"
legato-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\legato-button.png"
midi-learn-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-learn-button.png"
midi-reset-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-reset-button.png"
reson-algorithm-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\reson-algorithm-button.png"
rez-synth-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\rez-synth-background.png"
scale-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\scale-mode-button.png"
separation-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\separation-mode-button.png"
vertical-slider-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\vertical-slider-background.png"
vertical-slider-handle-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\vertical-slider-handle-glowing.png"
vertical-slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\vertical-slider-handle.png"
vertical-value-display-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\vertical-value-display-background.png"
wise-amp-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\wise-amp-button.png"
