background.png  PNG DISCARDABLE  "..\\gui\\graphics\\background.png"
button-bandwidth-mode.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-bandwidth-mode.png"
button-destroyfx.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-destroyfx.png"
button-envelopes.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-envelopes.png"
button-foldover.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-foldover.png"
button-legato.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-legato.png"
button-midi-learn.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-midi-learn.png"
button-midi-reset.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-midi-reset.png"
button-mix-mode.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-mix-mode.png"
button-reson-algorithm.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-reson-algorithm.png"
button-scaling-mode.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-scaling-mode.png"
button-separation-mode.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-separation-mode.png"
button-wise-amp.png  PNG DISCARDABLE  "..\\gui\\graphics\\button-wise-amp.png"
slider-handle-learn.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-learn.png"
slider-handle-magenta.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-magenta.png"
slider-handle-red.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-red.png"
slider-handle-white.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-white.png"
slider-handle-yellow.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-yellow.png"
vslider-handle-green.png  PNG DISCARDABLE  "..\\gui\\graphics\\vslider-handle-green.png"
vslider-handle-learn.png  PNG DISCARDABLE  "..\\gui\\graphics\\vslider-handle-learn.png"
