all-notes-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\all-notes-button.png"
destroy-fx-link.png  PNG DISCARDABLE  "..\\gui\\graphics\\destroy-fx-link.png"
freeze-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\freeze-button.png"
help-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\help-background.png"
host-tempo-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\host-tempo-button.png"
keyboard-black-key.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-black-key.png"
keyboard-off.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-off.png"
keyboard-on.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-on.png"
keyboard-white-key-bottom-left.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-bottom-left.png"
keyboard-white-key-bottom.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-bottom.png"
keyboard-white-key-bottom-right.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-bottom-right.png"
keyboard-white-key-top-1.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-top-1.png"
keyboard-white-key-top-2.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-top-2.png"
keyboard-white-key-top-3.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-top-3.png"
keyboard-white-key-top-4.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-top-4.png"
keyboard-white-key-top-5-6.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-top-5-6.png"
keyboard-white-key-top-7.png  PNG DISCARDABLE  "..\\gui\\graphics\\keyboard-white-key-top-7.png"
major-chord-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\major-chord-button.png"
midi-learn-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-learn-button.png"
midi-reset-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\midi-reset-button.png"
minor-chord-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\minor-chord-button.png"
none-notes-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\none-notes-button.png"
pitch-constraint-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\pitch-constraint-button.png"
range-slider-handle-left-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\range-slider-handle-left-glowing.png"
range-slider-handle-left.png  PNG DISCARDABLE  "..\\gui\\graphics\\range-slider-handle-left.png"
range-slider-handle-right-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\range-slider-handle-right-glowing.png"
range-slider-handle-right.png  PNG DISCARDABLE  "..\\gui\\graphics\\range-slider-handle-right.png"
scrubby-background.png  PNG DISCARDABLE  "..\\gui\\graphics\\scrubby-background.png"
slider-handle-glowing.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle-glowing.png"
slider-handle.png  PNG DISCARDABLE  "..\\gui\\graphics\\slider-handle.png"
speed-mode-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\speed-mode-button.png"
stereo-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\stereo-button.png"
tempo-sync-button-little.png  PNG DISCARDABLE  "..\\gui\\graphics\\tempo-sync-button-little.png"
tempo-sync-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\tempo-sync-button.png"
transpose-down-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\transpose-down-button.png"
transpose-up-button.png  PNG DISCARDABLE  "..\\gui\\graphics\\transpose-up-button.png"

dfxsnooty10px.ttf  DFX_TTF DISCARDABLE  "..\\..\\fonts\\dfxsnooty10px.ttf"

#include "../scrubbydef.h"
#include "../../dfx-library/visualstudio/dfxplugin-version.rc"
